/* ===============================
  FORMULARIO CONTACTO
================================ */

.form-container {
  margin: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Para que no se pegue al techo */
  min-height: 80vh;
}

/* Formulario de contacto  más ancho */
.contact-form {
  background-color: #000;
  padding: 2.5rem;
  width: 100%;
  max-width: 650px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Estilo del textarea */
.contact-form textarea {
  display: block;
  padding: 0.8rem;
  width: 100%;
  border: 1px solid #767677;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border-radius: 0;
  resize: none; /* Para evitar que el usuario lo deforme */
  transition: all 0.2s ease;
  font-family: inherit;
}

.contact-form textarea:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
}


.contact-form button {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  padding: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #fff;
  color: #000;
}

/* Ajuste Mobile */
@media (max-width: 768px) {
  .contact-form {
    max-width: 100%;
    padding: 1.5rem;
  }
}
